
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: $background-body;
  color: $color-text;
  font: $font-body;
  line-height: 1.58;
}

.wrapper {
  max-width: $width-page;
  margin: 0 auto;
}

a, a:visited {
  color: $color-anchor;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: 15px;

  a, a:visited {
    text-decoration: none;
    color: $color-heading;
  }

  code {
    font-size: inherit;
  }
}

blockquote {
  font-style: italic;
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

code, pre {
  background: $background-code;
  color: $color-code;
  font: $font-code;

  @media(max-width: $width-page) {
    overflow-x: scroll;
  }
}

pre {
  margin: 20px 0;
  padding: 8px 10px;
  border-top: 1px solid $color-code-border;
  border-bottom: 1px solid $color-code-border;
}

header {
  font-size: 18px;
  letter-spacing: 0.2px;

  h2 {
    font-size: 18px;
    display: inline-block;
  }

  ul {
    list-style: none;
    float: right;
  }

  li {
    display: inline-block;
    font-size: 15px;
    padding-left: 15px;
  }

  a, a:visited {
    text-decoration: none;
    color: $color-heading;
  }
}

footer {
  clear: both;
  font-size: smaller;
  padding: 20px;
  background-color: $background-light;
}
