
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

body {
  background: $background-light;
  color: $color-text;
  font: $font-body;
  line-height: 1.58;
}

.white {
  background: $background-body;
}

.wrapper {
  max-width: $width-page;
  margin: 0 auto;
}

a, a:visited {
  color: $color-anchor;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: 15px;

  a, a:visited {
    text-decoration: none;
    color: $color-heading;
  }

  code {
    font-size: inherit;
  }
}

blockquote {
  font-style: italic;
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

code, pre {
  background: $background-code;
  color: $color-code-text;
  font: $font-code;

  @media(max-width: $width-page) {
    overflow-x: scroll;
  }
}

pre {
  margin: 20px 0;
  padding: 8px 10px;
  border-top: 1px solid $color-code-border;
  border-bottom: 1px solid $color-code-border;
}

header {
  font-size: 14px;
  letter-spacing: 0.2px;

  h2 {
    font-size: 18px;
    display: inline-block;
  }

  ul {
    list-style: none;
    float: right;
  }

  li {
    display: inline-block;
    padding-left: 15px;
  }

  a, a:visited {
    text-decoration: none;
    color: $color-heading;
  }
}

.left {
  float: left;
  max-width: 40%;
}

.right {
  float: right;
  max-width: 60%;
}

footer {
  clear: both;
  font-size: 14px;
  padding: 20px;
  background-color: $background-light;
  color: $color-footer-text;

  .content {
    clear: both;

    h4 {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.05px;
      color: $color-footer-heading;
    }

    ul {
      float: left;
      list-style: none;
    }

    li {
      margin-bottom: 7px;
    }

    a, a:visited {
      color: $color-footer-text;
      text-decoration: none;
    }

    a:hover {
      color: $color-text;
    }
  }
}
