
// sctructure

html, body {
  margin: 0;
  padding: 0;
}

// use same background as footer to blend on short pages
body {
  background: $body-background;
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

// wrap header and .main, give it a white background
.top {
  background: $top-background;
}

header {
  max-width: $content-width;
  margin: 0 auto;
  font-size: $header-font-size;

  h2 {
    font-size: $header-logo-font-size;
    display: inline-block;
  }

  ul {
    list-style: none;
    float: right;
  }

  li {
    display: inline-block;
    padding-left: 18px;
  }

  a, a:visited {
    text-decoration: none;
    color: $heading-color;
  }
}

.main {
  max-width: $content-width;
  margin: 0 auto;
}

footer {
  font-size: $footer-font-size;
  padding: 20px;
  background-color: $footer-background;
  color: $footer-color;
  max-width: $content-width;
  margin: 0 auto;

  .links {
    clear: both;

    .left {
      float: left;
      max-width: 40%;
    }

    .right {
      float: right;
      max-width: 60%;
    }

    h4 {
      text-transform: uppercase;
      font-size: $footer-heading-font-size;
      letter-spacing: 0.05px;
      color: $footer-heading-color;
    }

    ul {
      float: left;
      list-style: none;
    }

    li {
      line-height: 2;
    }

    a, a:visited {
      color: $footer-color;
      text-decoration: none;
    }

    a:hover {
      color: $body-color;
    }
  }
}

.callout {
  clear: both;

  .left {
    float: left;
    max-width: 40%;
  }

  .right {
    float: right;
    max-width: 60%;
  }
}
