
$body-font-family:
  -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

$body-font-size: 18px;
$body-line-height: 1.58;
$body-color: #6c727a;
$body-background: #f7f8fa;

$content-width: 920px;

$heading-color: #414852;
$heading-color-hover: #414852;

$link-color: #1d74f5;
$link-hover-color: #6c727a;

$code-font-family:
  "Consolas", "Monaco", "Ubuntu Monospace",
  "Courier New", monospace;

$code-font-size: 15px;
$code-background: #eee8d5;

$top-background: #ffffff;

$header-font-size: 14px;
$header-logo-font-size: 16px;

$footer-font-size: 14px;
$footer-color: #929db3;
$footer-background: #f7f8fa;
$footer-heading-font-size: 11px;
$footer-heading-color: #bcc5d6;

$code-color: #555555;
$code-border-color: #555555;

// dark grey
$background-primary: #414852;
// light grey
$background-secondary: #f7f8fa;
// blue, same as link-color
$background-highlight: #1d74f5;
