---
layout: default
---

{{ content }}

<ul>
{% for project in site.data.projects %}
  <li>
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <ul>
      {% if project.user %}
      <li><a href="{{ project.user }}">User</a></li>
      {% endif %}
      {% if project.admin %}
      <li><a href="{{ project.admin }}">Administrator</a></li>
      {% endif %}
      {% if project.dev %}
      <li><a href="{{ project.dev }}">Developer</a></li>
      {% endif %}
    </ul>
  </li>
{% endfor %}
</ul>
